/* Variable Color */
:root {
    --main-theme: #6379F4;
    --secondary-theme: #E3E7F9;
    --main-hover: #4870db;
    --main-bg: #FAFCFF;
  }

/* Scrolling Behaviour */
html {
    scroll-behavior: smooth;
}

/* Font For All Components */
#app {
    font-family: 'Nunito', sans-serif !important;
}

.font-nunito {
    font-family: 'Nunito', sans-serif !important;
}


.bg{
    background: url(../image//Mask\ Group.png);
    max-height: 1100px;
    height:80%;

}
.phone1{
transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
}

.loginbtn:hover {
    background: var(--main-theme) !important;
    color: white !important;
}
/* BG Color */
.bg-theme {
    background: var(--main-theme);
}
.text-main {
    color: var(--main-theme);
}
.bg-main {
    background: var(--main-bg);
}
.nav-active {
    color: var(--main-theme);
}

.side-nav>li:last-child {
    position: absolute;
    bottom: 0;
}

.side-nav-item {
    color: #6c757d;
    border-right:none;
    border-top:none;
    border-bottom:none;
    border-left: 5px solid white;
}

.side-nav-item:hover {
    color: var(--main-theme);
    border-left: 5px solid var(--main-theme);
}
.side-nav-item.onroute {
    color: var(--main-theme);
    border-left: 5px solid var(--main-theme);
}
.router-link-nav {
    text-decoration: none;
    color: #6c757d;
}

.router-link-nav:hover {
    text-decoration: none;
    color: var(--main-theme);
}

.btnTrans {
    color: white;
    background: rgba(255, 255, 255,0.3);
    border:1px solid white;
}
.btnTrans:hover {
    color: white;
    background: rgba(255, 255, 255,0.3);
    border:1px solid white;
}
.btnSecondary {
    color: var(--main-theme);
    background:var(--secondary-theme);
}
.btnSecondary:hover {
    color: white;
    background:var(--main-hover);
}

.btnMain {
    color: white;
    background:var(--main-theme);
}
.btnMain:hover {
    color: white;
    background:var(--main-hover);
}

.shadow-nm {
    border:0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.shadow-top {
    border:0px;
    box-shadow: 20px 4px 20px 20px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Hidden Scrollbar */
.hideScroll::-webkit-scrollbar {
    display: none;
}

.btnSub {
    color: #88888F;
    background:#DADADA;
    border-radius:10px;
}
.btnSub:hover {
    color: white;
    background:var(--main-theme);
}


.hideScroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide Input Number Arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[readonly].classname{
    background-color:transparent;
    border: 0;
    font-size: 1em;
}

  /* Input Pin */
input.vue-pincode-input {
    font-weight: bold;
    line-height: 50px;
}

.bgpage {
    background-image: url("../image/mark2.png");
    background-repeat: no-repeat;
}