/* Font For All Components */
#app {
    font-family: 'Nunito', sans-serif !important;
}

.font-nunito {
    font-family: 'Nunito', sans-serif !important;
}


.bg{
    background: url(../image//Mask\ Group.png);
    max-height: 1100px;
    height:80%;

}
.phone1{
transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
}

.loginbtn:hover {
    background: #6379f4 !important;
    color: white !important;
}
/* BG Color */
.bg-main {
    background: #6379F4;
}
