/* Variable Color */
:root {
    --main-theme: #6379F4;
    --main-hover: #4870db;
    --main-bg: #FAFCFF;
  }

/* Scrolling Behaviour */
html {
    scroll-behavior: smooth;
}

/* Font For All Components */
#app {
    font-family: 'Nunito', sans-serif !important;
}

.font-nunito {
    font-family: 'Nunito', sans-serif !important;
}


.bg{
    background: url(../image//Mask\ Group.png);
    max-height: 1100px;
    height:80%;

}
.phone1{
transform: matrix(0.99, -0.13, 0.13, 0.99, 0, 0);
}

.loginbtn:hover {
    background: var(--main-theme) !important;
    color: white !important;
}
/* BG Color */
.bg-theme {
    background: var(--main-theme);
}
.text-main {
    color: var(--main-theme);
}
.bg-main {
    background: var(--main-bg);
}
.nav-active {
    color: var(--main-theme);
}

.side-nav>li:last-child {
    position: absolute;
    bottom: 0;
}

.side-nav-item {
    color: #6c757d;
    border:none;
}

.side-nav-item:hover {
    color: var(--main-theme);
    border-left: 5px solid var(--main-theme);
}